/*** UTILITAIRES ***/
.centrer {
  text-align: center;
}


/*** PAGE ACCUEIL ***/
#sous-titre-bloc {
  text-align: center;

}

#sous-titre-text {
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 0%;
}

#formulaire-recherche {
  margin-bottom: 8%;
}

#recherche-accueil {
  background-color: rgb(34, 34, 34);
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  padding: 1%;
  width: 70%;
}

/*** MISE EN PAGE ***/
footer {
  background-color: rgb(48, 48, 48);
  font-size: 15px;
  padding: 2%;
  text-align: center;
}
